# Created by .ignore support plugin (hsz.mobi)
/.idea/
/.gradle/
/build/
/common/build/
/kunde-api/build/
/kunde-service/build/
/preis-api/build/
/preis-service/build/
/produkt-api/build/
/produkt-service/build/
/rechnung-api/build/
/rechnung-service/build/
