# Created by .ignore support plugin (hsz.mobi)
/.idea/
/.gradle/
/build/
/configuration-service/build/
/discovery-service/build/
/gateway-service/build/
/kunde-service/build/
/preis-service/build/
/produkt-service/build/
/rechnung-service/build/
